/*div {
	border: solid;
	border-width: 1px;
}*/

body {
	height: 100%;
	width: 100%;	
	font-family: 'Montserrat', sans-serif;
}
section {
	padding-top: 70px;
}
.mg-2 {
	margin: 2%;
}
.mg-2  button{
	/*margin: 2%;*/
}
.navbar {
	height: 70px;
}


.landing-pg .animated {
    transition: 0.5s;
    animation-duration: 0.5s;
}

.navbar-header {
	padding: % 0;
	background-color: #d42628;
}
.header {
	background-color: #d42628;
}
.navbar {
	background-color: #d42628;
	border-bottom: solid;
	border-width: 5px;
	border-color: #d2ac66;

	box-shadow: 0px 4px 10px -2px rgba(107,107,107,1);
}


/*Jumbotron*/
.jumbo {
	background-image: url('../images/jumbohp.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}
.headersec {
	padding-top: 10%;
	background-color: white;
}
.headersec h1 {
	font-size: 4em;
}
.headersec h2 {
	font-size: 2em;
}

.paneljumbo {
	padding: 10% 8%;
}


.tombol {
	width: 100px;
	border: solid;
	border-width: 2px;
	border-color: #d42628;
	padding: 3% 10%;
	border-radius: 30px;
	background-color: #d42628;
	color: white;
}
.tombol:hover {
	border: solid;
	border-width: 2px;
	border-color: #d42628;
	background-color: transparent;
	border-radius: 30px;
	color: #d42628;
}

.tombolRev {
	width: 100px;
	border: solid;
	border-width: 2px;
	border-color: #d42628;
	padding: 3% 10%;
	border-radius: 30px;
	background-color: transparent;
	color: #d42628;
}
.tombolRev:hover {
	border: solid;
	border-width: 2px;
	border-color: #d42628;
	background-color: #d42628;
	border-radius: 30px;
	color: white;
}

.padd-5 {
	padding: 5%;
}



/*SECTION 1*/
.secs1 {
	padding: 5% 0;
}
.secs1 h2 {
	font-size: 3em;
	color: white;
}
.secs1 h3 {
	font-size: 1.5em;
	color: white;
}
.secs1 .konten {
	background-color: #d42628;
	color: white;
}

.featimg1 {
	background-image: url('../images/balok.png');
	background-size: cover;

}

/*SECTION 2*/
.secs2 {
	padding: 5% 0;
	text-align: center;
	background-image: url('../images/bgsecs2.png');
	height: 500px;
}
.secs2 h2 {
	font-size: 2.5em;
}

/*FOOTER*/
footer {
	background-color:  #d42628;
	border-top: solid;
	border-width: 5px;
	border-color: #d2ac66;
	margin: 0;
	padding-bottom: 1%;
	color: black;
}
.futer {
	text-align: right;
}
/*
#main-wrapper {
	padding-bottom: 0;
	margin-bottom: 0;
}*/



/*Wrapper LOGIN*/
.wrapper-login {
	padding: 5% 15%;
}
.login-panel {
	/*padding: 5% 10%;*/
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
}
.formSide {
	background-color: #602e7a;
	padding: 0px;
	color: white;
	font-family: 'Assistant'; font-size: 20px;
	box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.9;
}

.inputan {
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: solid;
	border-color: white;
	border-width: 1px;
	margin-bottom: 5%;
	color: white;
	width: 100%;
	transition: 0.2s;

}
.inputan:focus {
	transform: scale(1.02);
	outline: none;
	border-width: 2px;
}

::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
}

.signup {
	padding: 5% 10%;
}

.login {
	padding: 5% 10%;
	background-color: #b71f20;
	height: 100%;
}
.staflogin {
	padding: 5% 10%;
	background-color: #7a1d1d;
	height: 100%;
}

.buttonku {
	border: solid;
	border-width: 2px;
	border-color: orange;
	color: orange;
	border-radius: 20px;
	width: 8em;
	background-color: transparent;
	transition: 0.4s;
}

.buttonku:hover {
	background-color: orange;
	color: white;
}

.butlogin {
	border: solid;
	width: 120px;
	border-width: 2px;
	border-color: #42d68e;
	color: #42d68e;
	border-radius: 20px;
	width: 8em;
	background-color: transparent;
	transition: 0.4s;
}

.butlogin:hover {
	background-color: #42d68e;
	color: white;
}

.sideright {
	background-color: #d42628;
	padding: 0;
}

.kontens {
	min-height: 450px;
	background-image: url('../images/balok.png');
	background-size: cover;
	padding: 15% 5%;
}

/*=====HOME DASHBOARD Custom CSS=====*/
.fas {
	color: white;
}

i .fa {
	color: white;
}

.notify .heartbit {
	background-color: yellow;
}

.notify .point {
	border-color: yellow;
}
.pd-2{
	padding-bottom: 5%;
}
.pd-2 h1 {
	font-size: 4em;
	color: #323335;
}

.pd-2 h2 {
	font-size: 2em;
	color: #323335;
}